#wrap{
    width: 100%;
}
#header{
    display: flex;
    justify-content: center;
}
#top{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.sns{
    width: 1200px;
    height: 40px;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1200px;
    height: 174px;
}
.sns{
    display: flex;
    justify-content: space-between;
}
.sns ul{
    display: flex;
    height: 40px;
    align-items: center;
}
.sns li{
    color: #888888;
}
.sns_nav li{
    padding: 0px 8px 0px 10px;
    border-right: 1px solid gray;
}
.sns1 li{
    margin-right: 5px;
}
.sns_nav li:nth-child(n+5){
    border-right: 0px;
}
.nav{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
.nav ul{
    display: flex;
    font-size: 15px;
    height: 50px;
    width: 1200px;
    align-items: center;
    justify-content:space-around;
}
.nav1{
    font-weight: 700;
}